@model IEnumerable<MVC_In_Memory_crud_Operations.Models.Product>

<h1>Products </h1>

<p>
    @Html.ActionLink("Create a new Product","AddProduct","Product")
</p>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
             ProductId
            </th>
            <th>
             ProductName
            </th>
            <th>
            ProductPrice
            </th>
            <th>
             proCate
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach(var item in Model)
    {
        <tr >
            <td>
               @item.ProductId
            </td>
            <td>
                @item.ProductName
            </td>
            <td>
               @item.ProductPrice
            </td>
            <td>
              @item.proCate
            </td>

            <td>
                  <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.ProductId">Edit</a>
                 
            </td>
             <td>
                 <a asp-controller="Product" asp-action="DetailsProduct" asp-route-id="@item.ProductId">Details</a>
            </td>
                <td>
                    <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.ProductId">Delete</a>
                </td>

        </tr>
    }
    </tbody>
</table>
