@model WMVC_View_model_DepT_emp.Models.StudentsDetails;

<h1> @Model.student.name</h1>

<h2>@Model.Title</h2>
<h2>@Model.University</h2>

<h2>@Model.Id</h2>
<h2>@Model.student.branch</h2>

<h2>@Model.address.City</h2>
<h2>@Model.address.PIn</h2>



